.gallery {
  width: 100%;
  height: auto;
  padding: 46px;
}

.image-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}
.image-container img {
  width: auto;
  height: 180px;
}
